.autocomplete {
  width: 100%;
  position: absolute;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-lg);
  padding: 20px 15px;
  margin-top: 2%;
  max-height: calc(var(--app-height) - 600px);
  min-height: 60px;
  overflow: hidden;
  background: white;
}

.autocomplete-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: calc(var(--app-height) - 600px);
}

.autocomplete-content > a {
  color: var(--color-text-800);
}

.autocomplete-content::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}

.autocomplete-content::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

.autocomplete-content::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
}

.autocomplete-content::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb);
}

.hide {
  display: none;
}

.show {
  display: block;
}
