*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: var(--letter-spacing-sm);
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  background: var(--color-bg-body);
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  max-width: var(--app-width);
  width: var(--app-width);
  height: var(--app-height);
  margin-left: auto;
  margin-right: auto;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.centered-block {
  margin: 0 auto;
}
