:root {
  --color-bg-body: #ffffff;

  --color-bg-tag-main: #ede7f6;
  --color-bg-header: #9f89c9;

  --color-text-white: #ffffff;
  --color-text-100: #a1a5be;
  --color-text-500: #ff59a6;
  --color-text-600: #555688;
  --color-text-800: #37474f;
  --color-text-900: #311b92;

  --color-bg-text-50: #eceff1;
  --color-bg-text-200: #78909c;
  --color-bg-text: #d1c4e9;

  --color-border-text: #bdbdbd;

  --color-nav-bg: #455a64;
  --color-nav-bg-active: #263238;
  --color-nav-link: #ffffff;

  --color-bg-button: #fff6fc;
  --color-bg-button-500: #ede0ff;
  --color-bg-button-300: #ffc7d8;
  --color-bg-button-tap: #e4daf5;
  --color-bg-button-500-tap: #e2d2f8;
  --color-bg-button-300-tap: #f0b8c9;
  --color-bg-button-hover: #ffffff;
  --color-text-button: #404286;

  --color-text-button-hover: #9575cd;
  --color-border-button: #ede7f6;
  --color-border-button-hover: #9575cd;

  --color-bg-card: #555688;

  --color-bg-card-white: #ffffff;
  --color-card-border: #212121;

  --color-bg-select: #e8eaf6;
  --color-bg-select-300: #7986cb;
  --color-bg-select-hover: #b39ddb;

  --color-bg-input: #ffffff;
  --color-border-input: #212121;

  --color-loader: #5c6bc0;

  --color-scrollbar-track: #ffffff;
  --color-scrollbar-thumb: #bdbdbd;

  --color-border: #745b9e;
  --color-bg-hover: #d1c4e9;
  --color-correct: #d5f8f5;
  --color-incorrect: #ffcdd2;
}
